.sidenav {
    background-color: rebeccapurple;
    width: 200px;
    height: 100%;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
}